<h2>Der Bau</h2>
<p>Der Bau der Möwe Jonathan dauerte 18 Monate und fand außerhalb der Arbeitszeit meines Opas statt.Mit am Bau beteiligt waren außerdem meine beiden Onkel, Jens und Sönke. Sie begannen im Oktober 1990 mit dem Bau und waren somit im April 1992 fertig.</p>
<p>Außer dem Mast,dem Segel und dem Motor haben sie alles selbst gebaut.</p>
<p>Für den Bau verbrauchten sie:</p>
<ul>
  <li> ca.5 Tonnen Stahl(davon ...Tonnen"Eisen,...)
  <li>...<li/>
  </ul>
  <p> Unten abgebildet sehen Sie einen Teil der Pläne nach denen die Yacht gebaut wurde</p>
<img src=...>
