<h2>Die Reiseorte</h2>
<p>Wie gesagt kam die Möwe Jonathan in Greifswald ins Wasser,dann wurde sie über Stralsund nach Kiel gebracht.Ihre nächsten Heimathäfen waren erst Stickenhörn,dann Wentdorf,später Heiligenhafen und dann Grömitz.</p>
<p>Im Winter Wurde Die Jonathan immer nach Femarn ins Winterlager gebracht.</p>
<p>Meine Familie und besonders meine Großeltern bereisten ziemlich alle Inseln der westlichen Ostsee und damit auch die dänische Südsee zu großen Teilen (so unter anderem Ærø und Æreskœbing,welche sehr schön gewesen seien sollen)Unten sehen Sie eine Liste von Orten die meine Familie u.a. mit der Jonathan besegelt hat.</p>
<ul>
  <li>Lolland</li>
  <li>Falster</li>
  <li>Møn</li>
  <li>Fünen</li>
  <li>Seeland</li>
  
