<img src="home.Bild.jpg" alt="Jonathan">
<p>Dies ist die Möwe Jonathan!</p>
<p>Sie wurde von meinem Opa Volker Baake mit Hife seiner Söhne Jens und Sönke Baake gebaut.Für Weiteres zum Bau klicken Sie  <%=link_to "hier",pages_construction_path%>.</p>
<p>Hier sehen Sie die Jonathan als sie fertig gebaut war:</p>
<img src="IMG-20170125-WA0006.jpg">
